@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <section>
                    <h3>Potrebujete pomoc?</h3>

                </section>
            </div>
            <div class="col-md-3 col-sm-3">
                <section>
                    <h3>My</h3>
                    <a title="O nás" href="">O nás</a><br>
                    <a title="Kontakt" href="/">Kontakt</a><br>
                </section>
            </div>
            <div class="col-md-3 col-sm-3">
                <section>
                    <h3>&nbsp;</h3>
                    <a title="Prihlásenie" href="/login">Prihlásenie</a><br>
                    <a title="Registrácia" href="/registracia">Registrácia</a><br>
                </section>
            </div>
            <div class="col-md-3 col-sm-3">
                <section>
                    <h3>Ste lekár?</h3>
                    <span>Zoznámte sa s našim internetovým portálom</span>
                </section>
            </div>

        </div>
    </div>
</footer>