<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Objednanie zubára</a>
        <!-- Hamburger button (skrytý na väčších obrazovkách) -->
        <input type="checkbox" id="navbar-toggler" class="navbar-toggler d-md-none">
        <label for="navbar-toggler" class="navbar-toggler-icon"></label>

        <!-- Navigačné odkazy pre väčšie obrazovky -->
        <nav class="navbar-nav flex-row ms-auto d-none d-md-flex">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Domovská stránka
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="vyhladatZubara">
                    Vyhľadať zubára
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="registracia">
                    Registrácia
                </NavLink>
            </div>
        </nav>

        <!-- Navigačné odkazy pre menšie obrazovky (zobrazí sa iba po kliknutí na hamburger) -->
        <div class="nav-scrollable d-md-none">
            <nav class="navbar-nav">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Domovská stránka
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vyhladatZubara">
                        Vyhľadať zubára
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        Login
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>