@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button class="btn btn-primary btn-create" @onclick="CreateOrder">Objednaj sa</button>

@code {
    private void CreateOrder()
    {
        NavigationManager.NavigateTo("/edit-order");
    }
}


