@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button class="btn btn-primary btn-create" @onclick="CreateOrder">Objednaj sa</button>

@code {
    [Parameter]
    public int DentistId { get; set; }

    private void CreateOrder()
    {
        NavigationManager.NavigateTo($"/create-order/{DentistId}");
    }
}


