@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="CreateOrder">Vytvoriť</button>

@code {
    private void CreateOrder()
    {
        NavigationManager.NavigateTo("/edit-order");
    }
}


