@page "/Account/AccessDenied"

<PageTitle>Prístup zamietnutý</PageTitle>

<header>
    <h1 class="text-danger">Prístup zamietnutý</h1>
    <p class="text-danger">Nemáte prístup k tejto stránke.</p>
</header>
