@page "/"
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Domov</title>
</head>
<body>
<header>
    <h1>Vitajte na ObjednanieZubara.sk</h1>
    <p>Objednajte sa na zubárske vyšetrenie pohodlne a bez zbytočného čakania</p>
</header>

<section id="features">
    <h2>O ObjednanieZubara</h2>
    <p> ObjednanieZubara ponúka jednoduchú cestu k rýchlemu objednaniu na vyšetrenie u zubára. Bez telefonátov, bez čakania.</p>
        
    <h3>Ako to funguje?</h3>
    <ul>
        <li>Vyberte si zubára podľa Vašej potreby</li>
        <li>Zvoľte si vhodný dátum a čas, ktorý vám vyhovuje</li>
        @* <li>Potvrdenie termínu dostanete okamžite e-mailom alebo SMS</li> *@
        <li>Ak potrebujete, môžete svoj termín zmeniť alebo zrušiť online</li>
    </ul>
</section>

<section id="why-choose-us">
    <h2>Prečo si vybrať ObjednanieZubára?</h2>
    <ul>
        <li>Jednoduchá rezervácia termínov kedykoľvek, aj mimo pracovných hodín</li>
        <li>Dostupné informácie o zubároch, ich pracovných časoch a hodnoteniach</li>
        @* <li>Automatické e-mailové a SMS pripomienky, aby ste na termín nezabudli</li>
        <li>Rýchla komunikácia s lekárom cez náš systém</li>
        <li>Objektívne hodnotenia zubárov od iných pacientov</li> *@
    </ul>
</section>
</body>
</html>