/* Globálne štýly */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* Štýl tlačidiel */
.btn {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    color: white;
}

    .btn-danger:hover {
        background-color: #a71d2a;
    }

.btn:active {
    transform: scale(0.95);
}

/* Štýly formulára */
form {
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: auto;
}

.inputTime {
    width:fit-content;
} 

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    /*animation: fadeIn 0.3s ease-in-out;*/
}

.dialog-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.confirm-button {
    background-color: #e74c3c;
    color: white;
    border: none;
}

    .confirm-button:hover {
        background-color: #c0392b;
    }

.cancel-button {
    background-color: #3498db;
    color: white;
    border: none;
}

    .cancel-button:hover {
        background-color: #2980b9;
    }

.confirm-button:active, .cancel-button:active {
    transform: scale(0.95);
}
