@page "/"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domovská stránka</title>
</head>

<body>
<h1>Vyhľadaj zubára</h1>
<div class="input-group">
    <input class="form-control" type="text" name="search" placeholder="meno zubára">
    <input type="hidden" name="iframe" id="iframe" value="">
        <form class="input-group-btn" action="/vyhladatZubara">
        <div>
            <button class="btn btn-default" type="submit" value="Home Page">Vyhľadať</button>
        </div>
    </form>
    
</div>

<img class="image-z" src="/images/zubar.jpg" alt="Dentist" />
</body>

</html>

