body {
    
}

.col-md-4, col-sm-6, col-md-offset-4, col-sm-offset-3 {
    position: fixed;
    left: 40%;
    margin-left: -200px;
}

.page-title {
    text-align: center;
}


.form-group {
    text-align: center;
    margin: 5px;
}

.btn {
    border: solid;
}

    .btn:hover {
        border: solid;
        background-color: #007bff;
        color: white;
    }

