@page "/orderList"
@inject IOrderService OrderService
@attribute [StreamRendering]

<h3>OrderList</h3>

@if (orders == null)
{
    <span>Loading...</span>
}
else if (orders.Count == 0)
{
    <span>No orders found.</span>
}
else
{
    <ul>
        @foreach (var order in orders)
        {
            <li>@order.Name <EditOrderButton Id="order.Id"/></li>
        }
    </ul>
}
<CreateOrderButton/>

@code
{
    List<Order>? orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetAllOrders();
    }
}
