@page "/RychleVyhladanie"
@using Bakalárska_práca.Model
@using Microsoft.EntityFrameworkCore
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rýchle hľadanie</title>
</head>

<body>
<h1>Rýchle vyhľadanie zubára</h1>
<div class="input-group">
    <input class="form-control" type="text" name="search" placeholder="zadaj meno zubára">
    <input type="hidden" name="iframe" id="iframe" value="">
    <form class="input-group-btn" action="/vyhladatZubara">
        <div>
            <button class="btn btn-default" type="submit" value="Home Page">Vyhľadať</button>
        </div>
    </form>

</div>

<img class="image-z" src="/images/zubar.jpg" alt="Dentist"/>

</body>
</html>