body {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

.filter {
    margin: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap; /* This allows items to wrap if needed */
}


.btn-hladat {
    border: solid;
    margin: 10px;
    width: 100px;
}

    .btn-hladat:hover {
        border: solid;
        background-color: #007bff;
        color: white;
    }

.box {
    margin-top: 20px;
}

@media (max-width: 640.98px) {
    .filter {
        flex-direction: column;
        align-items: center; 
    }

}
